<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/style.ejs') %>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    

  <h1>pricing</h1>
    

    <%- include('partials/js.ejs') %>
  </body>
</html>